<div
  class="tab {{tab.cssClass}} nameplate-font-tab"
  data-tab="font"
  data-group="primary"
>
  <canvas data-role="text-preview" class="nameplate-font-tab__preview"></canvas>

  <div class="form-group">
    <label for="{{idPrefix}}-fontFamily">{{localize
        "NAMEPLATES.CONFIG.FONT.FAMILY.LABEL"
      }}</label>
    <select
      name="style.fontFamily"
      id="{{idPrefix}}-fontFamily"
      data-font-select
    >
      {{selectOptions fontSelect selected=nameplate.style.fontFamily}}
    </select>
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-fontSize">{{localize
        "NAMEPLATES.CONFIG.FONT.SIZE.LABEL"
      }}</label>
    <input
      type="number"
      min="4"
      step="1"
      name="style.fontSize"
      id="{{idPrefix}}-fontSize"
      value="{{nameplate.style.fontSize}}"
    />
    <p class="hint">{{localize "NAMEPLATES.CONFIG.FONT.SIZE.HINT"}}</p>
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-fill">{{localize
        "NAMEPLATES.CONFIG.FONT.COLOR.LABEL"
      }}</label>
    <color-picker
      value="{{nameplate.style.fill}}"
      name="style.fill"
      id="{{idPrefix}}-fill"
    ></color-picker>
    <p class="hint">{{localize "NAMEPLATES.CONFIG.FONT.COLOR.HINT"}}</p>
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-dropShadow">{{localize
        "NAMEPLATES.CONFIG.FONT.DROPSHADOW.LABEL"
      }}</label>
    <input
      type="checkbox"
      name="style.dropShadow"
      id="{{idPrefix}}-dropShadow"
      {{checked nameplate.style.dropShadow}}
    />
    <p class="hint">{{localize "NAMEPLATES.CONFIG.FONT.DROPSHADOW.HINT"}}</p>
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-dropShadowColor">{{localize
        "NAMEPLATES.CONFIG.FONT.DROPSHADOWCOLOR.LABEL"
      }}</label>
    <color-picker
      name="style.dropShadowColor"
      id="{{idPrefix}}-dropShadowColor"
      value="{{nameplate.style.dropShadowColor}}"
    ></color-picker>
    <p class="hint">{{localize
        "NAMEPLATES.CONFIG.FONT.DROPSHADOWCOLOR.HINT"
      }}</p>
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-dropShadowAlpha">{{localize
        "NAMEPLATES.CONFIG.FONT.DROPSHADOWALPHA.LABEL"
      }}</label>
    <range-picker
      name="style.dropShadowAlpha"
      id="{{idPrefix}}-dropShadowAlpha"
      value="{{nameplate.style.dropShadowAlpha}}"
      min="0"
      max="1"
    ></range-picker>
    <p class="hint">{{localize
        "NAMEPLATES.CONFIG.FONT.DROPSHADOWALPHA.HINT"
      }}</p>
  </div>
</div>