<div
  class="tab {{tab.cssClass}} nameplate-font-tab"
  data-tab="font"
  data-group="primary"
>
  <canvas data-role="text-preview" class="nameplate-font-tab__preview"></canvas>

  <div class="form-group">
    <label for="{{idPrefix}}-fontFamily">{{localize
        "NAMEPLATES.CONFIG.FONT.FAMILY.LABEL"
      }}</label>
    <select
      name="style.fontFamily"
      id="{{idPrefix}}-fontFamily"
      data-font-select
    >
      {{selectOptions fontSelect selected=nameplate.style.fontFamily}}
    </select>
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-fontSize">{{localize
        "NAMEPLATES.CONFIG.FONT.SIZE.LABEL"
      }}</label>
    <input
      type="number"
      min="4"
      step="1"
      name="style.fontSize"
      id="{{idPrefix}}-fontSize"
      value="{{nameplate.style.fontSize}}"
    />
    <p class="hint">{{localize "NAMEPLATES.CONFIG.FONT.SIZE.HINT"}}</p>
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-fill">{{localize
        "NAMEPLATES.CONFIG.FONT.COLOR.LABEL"
      }}</label>
    <color-picker
      value="{{nameplate.style.fill}}"
      name="style.fill"
      required
      id="{{idPrefix}}-fill"
    ></color-picker>
    <p class="hint">{{localize "NAMEPLATES.CONFIG.FONT.COLOR.HINT"}}</p>
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-fontDispositionColor">{{localize
        "NAMEPLATES.CONFIG.FONT.DISPOSITIONCOLOR.LABEL"
      }}</label>
    <input
      type="checkbox"
      id="{{idPrefix}}-fontDispositionColor"
      name="fontDispositionColor"
      {{checked nameplate.fontDispositionColor}}
    />
    <p class="hint">{{localize
        "NAMEPLATES.CONFIG.FONT.DISPOSITIONCOLOR.HINT"
      }}</p>
  </div>
</div>