<div class="tab{{#if tab.active}} active{{/if}} token-nameplates-config" data-group="sheet" data-tab="nameplates" data-application-part="nameplates" style="overflow-y:auto;overflow-x:hidden">
  {{#with nameplates}}
    <div class="form-group">
      {{#if ../globalConfig }}
        <label for="{{idPrefix}}-nameplates-enabled">{{localize "NAMEPLATES.CONFIG.ENABLEGLOBAL.LABEL"}}</label>
        <input type="checkbox" id="{{idPrefix}}-nameplates-enabled" name="nameplates.enabled" {{checked enabled}}>
        <p class="hint">{{localize "NAMEPLATES.CONFIG.ENABLEGLOBAL.HINT"}}</p>
      {{else}}
        <label for="{{idPrefix}}-nameplates-enabled">{{localize "NAMEPLATES.CONFIG.ENABLE.LABEL"}}</label>
        <input type="checkbox" id="{{idPrefix}}-nameplates-enabled" name="nameplates.enabled" {{checked enabled}}>
        <p class="hint">{{localize "NAMEPLATES.CONFIG.ENABLE.HINT"}}</p>
      {{/if}}
    </div>

    <div class="form-group">
      <button type="button" data-action="revertNameplates">{{localize "NAMEPLATES.CONFIG.REVERT.LABEL"}}</button>
      <p class="hint">{{localize "NAMEPLATES.CONFIG.REVERT.HINT"}}</p>
    </div>
    
    <div class="form-group">
      <div class="flexrow">
        <div class="flex1">
          <label for="{{idPrefix}}-nameplates-export">{{localize "NAMEPLATES.CONFIG.EXPORT.LABEL"}}</label>
        </div>
        <div class="flex0">
          <a data-action="" data-tooltip="{{localize "NAMEPLATES.CONFIG.TOOLTIPS.EXPORT"}}" data-role="export-nameplates">
            <i class="fa-solid fa-download"></i>
          </a>
        </div>
      </div>
      <p class="hint">{{localize "NAMEPLATES.CONFIG.EXPORT.HINT"}}</p>
    </div>

    <div class="form-group">
      <div class="flexrow">
        <div class="flex1">
          <label for="{{idPrefix}}-nameplates-import">{{localize "NAMEPLATES.CONFIG.IMPORT.LABEL"}}</label>
        </div>
        <div class="flex0">
          <a data-role="import-nameplates" data-tooltip="{{localize "NAMEPLATES.CONFIG.TOOLTIPS.IMPORT"}}">
            <i class="fa-solid fa-upload"></i>
          </a>
        </div>
      </div>
      <p class="hint">{{localize "NAMEPLATES.CONFIG.IMPORT.HINT"}}</p>
    </div>

    <div class="flexrow">
      <div class="flex1">
        <h4 class="token-nameplate-list__header">{{localize "NAMEPLATES.CONFIG.HEADER"}}</h4>
      </div>
      <div class="flex0">
        <a data-action="addNameplate" data-tooltip="{{localize "NAMEPLATES.CONFIG.TOOLTIPS.ADD"}}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </div>
    {{> "modules/token-nameplates/templates/NameplateList.hbs" header="NAMEPLATES.CONFIG.UPPER" nameplates=upperNameplates }}
    {{> "modules/token-nameplates/templates/NameplateList.hbs" header="NAMEPLATES.CONFIG.LOWER" nameplates=lowerNameplates }}
    {{> "modules/token-nameplates/templates/NameplateList.hbs" header="NAMEPLATES.CONFIG.RIGHT" nameplates=rightNameplates }}
  {{/with}}
</div>